<dialog id="wncCookieBanner">
    <header>
        <h1>We use cookies on this site to enhance your user experience</h1>
    </header>
    <p>By clicking the Accept button, you agree to us doing so. More info on our <a href="https://majdibo.com/assets/docs/cookie-policy.md">cookie policy</a></p>
    <footer>
        <form method="dialog">
            <button type="button" onclick="updateCookies(true)">Accept all cookies</button>
            <button type="button" onclick="updateCookies(false)">Reject all cookies</button>
        </form>
    </footer>
</dialog>
